@media only screen 
  and (max-device-width: 767px)
  and (orientation: landscape) {

    body{

      .please-rotate {

        display: block;

      }

      .master-container, .intro-screen {

        display: none;

      }

    }

}


@media (orientation: portrait) {

  .left-column {

    .playlist-tiles {

      height: 50%;

    }

  }

}

@media (max-width: 1200px) {

  body {

    .left-column {

      .playlist-tiles {

        height: 65%;

      }

      .playlist-buttons {

        display: block;

        button {

          width: 100%;

        }

      }

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .explore-items {

          .explore-item {

            .explore-item-name-and-button {

              font-size: 1.25rem;

            }

          }

        }

      }

    }

  }

}

@media (max-width: 1100px) {

  body.about-screen {

    background-size: 56%;

  }

}

@media (max-width: 1023px) {

  body {

    .left-column {

      width: 30%

    }

    .background-holder {

      height: 72%;
      width: 70%;

    }

    .sound-palette {

      width: 70%;

      .sound-tile {

        width: 20%;

      }

    }

    .top-bar {

      .title {

        width: 28%;

      }

      h2, .explore-info {

        width: 58%;

      }

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .explore-items {

          width: 70%;

          .explore-item {

            width: 50%;

          }

        }

      }

    }

  }

}

@media (max-height: 770px) {

  body {

    .intro-screen {

      .inner-container {

        h2 {

          margin-top: 3%;

        }

        img {

          width: 30%;

        }

        button {

          padding: 2% 5%;
          
        }

      }

    }

    .left-column {

      .playlist-tiles {

        height: 58%;

      }

    }

  }

}

@media (max-width: 946px) {

  body {

    .inner-container {

      width: 710px;

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .top-bar {

          .explore-info {

            width: 62%;

            .text-and-inputs {

              input {

                width: 35%;

              }

            }

          }

        }

      }

    }

  }

}

@media (max-width: 850px) {

  body {

    .top-bar {

      .buttons-container {

        width: auto;

      }

    }

    &.about-screen {

      background-size: 70%;

    }

  }

}

@media (max-width: 767px) {

  body {

    .inner-container {

      width: 90%;

    }

    h2 {

      font-size: 2.5rem;
      margin-bottom: 3%;

    }

    p {

      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 5%;

    }

    &.about-screen {

      .about-instructions {

        li {

          margin-bottom: 10%;

          &.random-button, &.explore-button, &.playlist {

            img {

              width: 50%;

            }

          }

        }

      }

    }

    .sound-palette {

      .sound-tile {

        width: 45%;

      }

    }

    .playlist-and-sound-tile-explore {

      .left-column {

        .title {

          height: 25%;

        }

      }

      .sound-tile-explore {


        .top-bar {

          .explore-info {

            .icon {

              background-position: top center;

            }

          }

        }

        .explore-items {

          .explore-item {

            width: 100%;

          }

        }

      }

    }

  }

}

@media (max-width: 740px) {

  body {

    .top-bar {

      button {

        top: 5%;

      }

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .top-bar {

          .explore-info {

            width: 60%;

            .text-and-inputs {

              display: block;

              .category-and-clips {

                h4 {

                  margin-bottom: 1%;

                }

              }

              input {

                height: 39px;
                width: 70%;

              }

            }

          }

        }

      }

    }

  }

}

@media (max-width: 599px) {

  body {

    .intro-screen {

      .inner-container {

        img {

          width: 63%;

        }

      }

    }

    &.about-screen {

      background-size: 90%;

      .about-instructions {

        li {

          &.audio-clip, &.filter {

            img {

              width: 100%;

            }

          }

        }

      }

    }

    .left-column {

      width: 45%;

    }

    .sound-palette {

      width: 55%;

      .sound-tile {

        width: 90%;

      }

    }

    .playlist-and-sound-tile-explore {


      .sound-tile-explore {

        .explore-items {

          width: 55%;

          .explore-item {

            width: 100%;

          }

        }

      }

    }

  }

}

@media (max-width: 499px) {

  body {

    .top-bar {

      .title {

        background-position: right center;
        margin-right: 3%;
        width: 38%;

      }

      .buttons-container {

        display: block;
        top: 15%;
        width: 53%;

        button, button:nth-child(2) {
          
          margin-bottom: 5%;
          margin-left: 0;
          padding-left: 0;
          padding-right: 0;
          width: 100%;

        }

      }

    }

    .intro-screen {

      .inner-container {

        h3 {

          span {

            font-size: inherit;

          }

        }

      }

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .top-bar {

          .explore-info {

            .icon {

              display: none;

            }

          }

          .buttons-container {

            width: 5rem;

            button, button:nth-child(2){

              margin-bottom: 5%;
              margin-left: 0;
              padding-left: 0;
              padding-right: 0;
              width: 100%;

            }

          }

        }

      }

    }

  }


}