@media only screen and (max-width: 767px)  and (orientation: portrait) {

  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

}

@media (max-width: 1439px) {

  .sound-palette {

    .sound-tile {

      width: 250px;

    }

  }

}

@media (max-width: 1300px) {

  .sound-palette {

    .sound-tile {

      height: 240px;
      width: 190px;

    }

  }

}

@media (max-width: 1200px) {

  body {

    .inner-container {

      max-width: 550px;

    }

    .left-column {

      .playlist-tiles {

        height: 65%

      }

      .playlist-buttons {

        display: block;

        button {

          width: 100%;

        }

      }

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .explore-items {

          .explore-item {

            .explore-item-name-and-button {

              font-size: 1.25rem;

            }

          }

        }

      }

    }

  }

}

@media (max-width: 1023px) {

  .left-column {

    width: 30%

  }

  .sound-palette {

    width: 70%;

    .sound-tile {

      width: 200px;

    }

  }

  .playlist-and-sound-tile-explore {

    .sound-tile-explore {

      .explore-items {

        width: 70%;

        .explore-item {

          width: 50%;

        }

      }

    }

  }

}

@media (max-width: 946px) {

  body {

    .inner-container {

      width: 710px;

    }

  }

  .playlist-and-sound-tile-explore {

    .sound-tile-explore {

      .top-bar {

        .explore-info {

          width: 80%;

        }

      }

    }

  }

}

@media (max-width: 900px) {


  .sound-palette {

    .sound-tile {

      height: 220px;
      width: 30%;

      .sound-tile-buttons {

        button {

          width: 85%;

        }

      }

    }

  }

}

@media (max-height: 767px) {

  body {

    .instructions {

      display: none;

    }

  }

}

@media (max-width: 767px) {

  body {

    .inner-container {

      width: 90%;

    }

    h2 {

      font-size: 2.5rem;
      margin-bottom: 3%;

    }

    p {

      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 5%;

    }

    &.about-screen {

      .about-instructions {

        li {

          margin-bottom: 10%;

          &.random-button, &.explore-button, &.playlist {

            img {

              width: 50%;

            }

          }

        }

      }

    }

    .left-column {

      width: 40%

    }

    .playlist-and-sound-tile-explore {

      .sound-tile-explore {

        .explore-items {

          width: 60%;

          .explore-item {

            width: 100%;

          }

        }

      }

    }

    .sound-palette {

      width: 60%;

      .sound-tile {

        width: 45%;

      }

    }

  }

}

@media screen and (max-width: 599px) , screen and (max-height: 767px) {

  body {

    &.about-screen {

      .about-instructions {

        li {

          &.audio-clip, &.filter {

            img {

              width: 100%;

            }

          }

        }

      }

    }

    .sound-palette {

      .sound-tile {

        height: auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        width: 95%;

        .icon-and-buttons {

          display: flex;

          .sound-tile-buttons {

            padding: 10px 0;

          }

        }

      }

    }

    .playlist-and-sound-tile-explore {

      .left-column {

        width: 45%;

      }

      .sound-tile-explore {

        .explore-items {

          width: 55%;

          .explore-item {

            width: 100%;

          }

        }

      }

    }

  }

}