@import 'reset';

@import 'variables';

@import 'mixins';

body {

  font-family: 'Oswald', sans-serif;
  font-weight: 300;

  input {
    -webkit-appearance: none;
  }

  .please-rotate {

    background-image: url("../imgs/top_bar_bg.jpg");
    background-position: center;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;

    .inner-text {

      background-color: black;
      color: white;
      font-size: 3rem;
      padding: 2% 0;
      text-transform: uppercase;

    }

    img {

      height: auto;
      width: 30%;

    }

  }

  .intro-screen {

    background-color: rgba(0,0,0,.75);
    color: #FFF;
    font-size: 2rem;
    height: 100%;
    left: 0;
    line-height: 2.5rem;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    top: 0;
    width: 100%;
    z-index: 5;

    .fa-times {

      cursor: pointer;
      position: absolute;
      right: 1%;
      top: 1%;

    }

    .inner-container {

      padding-bottom: 0;

      h2 {
        
        margin-bottom: 4%;
        margin-top: 6%;

      }

      img {

        display: block;
        height: auto;
        margin: 0 auto 4%;
        width: 43%;
      
      }

      h3 {
      
        span {
          
          color: $red;
          font-size: 4rem;
          font-weight: 700;

        }

      }

      button {

        margin-top: 5%;

        @extend %standard-button;
        background-color: $blue;
        padding: 3% 5%;
        
        .inner-text {
          
          @extend %standard-button-text;
          font-size: 3rem;
          line-height: 3rem;

        }

      }

    }

  }

  &.about-screen {
    background: url("../imgs/logo-light.jpg") no-repeat center fixed #fff;
    background-size: 33%;
    padding-top: 200px;

    .top-bar-and-signup {

      .inner-container {
        
        padding-bottom: 10px;

        h2 {

          display: inline;

        }

      }

    }

    .about-instructions {

      li {

        @extend %clearfix;
        margin-bottom: 5%;

        img {

          border: 5px solid black;
          box-sizing: border-box;
          width: 20%;

        }

        &:nth-child(odd) {

          img {

            float: left;
            margin-right: 5%;

          }

        }

        &:nth-child(even) {

          img {

            float: right;
            margin-left: 5%;

          }

        }

        &.explore-screen {

          img {

            margin: 0 0 3% 0;
            width: 100%;

          }

        }

        &.audio-clip {


          img {

            width: 40%;

          }

        }

        &.playlist {


          img {

            width: 22%;

          }

        }

        &.filter {

          img {

            width: 42%;

          }

        }

      }

    }

    .author-photo {

      float: right;
      margin-left: 5%;
      width: 125px;

      img {

        @include border-radius(50%);
        border: 5px solid black;
        display: block;
        height: 100px;
        margin: 0 auto;
        width: 100px;

      }

      p {

        font-size: 1rem;
        font-weight: bold;
        line-height: 1.1rem;
        text-align: center;

        span {
          display: block;
        }

      }

    }

    .logos {

      display: flex;
      justify-content: space-between;

      img {

        height: 100%;
        width: 25%;

        &.react {

          margin-top: 6%;

        }

        &.node {

          margin-top: 4%;

        }

      }

    }

  }

  .top-bar-and-signup {
  
    background-image: url("../imgs/top_bar_bg.jpg");
    background-position: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 0px 20px rgba(0,0,0,0.4);
    box-sizing: border-box;
    height: auto;
    min-height: 175px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    #mc_embed_signup {

      background-color: rgba(0,0,0,0.7);
      box-sizing: border-box;
      color: white;
      display: block;
      font-size: 1rem;
      height: 50px;
      padding: 10px 0 0 9px;
      width: 100%;

      #mc_embed_signup_scroll {

        h3, input[type="submit"] {

          display: inline;

        }

        h3 {

          margin-right: 10px;

          span {

            font-weight: 700;

          }

        }

        input[type="submit"] {

          @extend %standard-button;
          @extend %standard-button-text;

          background-color: $green;
          border: none;
          width: auto;

        }

      }

    }

    .top-bar {

      display: flex;
      padding: .5% 1% .75%;
      position: relative;

      .title {

        height: 106px;
        width: 18.5%;

      }

      .buttons-container {

        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 10px;
        top: 35%;
        width: 30%;

        button:nth-child(2) {

          margin-left: 2%;
          width: 12rem;

        }

      }

      button {
        
        @extend %standard-button;
        background-color: $blue;
        height: 2.5rem;
        padding: 0.5% 2%;
        width: 6rem;

        .inner-text {
          
          @extend %standard-button-text;

        }

      }

    }

  }

  .inner-container {

    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    max-width: 750px;

  }

  .title {

    @include hide-text;
    background-image: url("../imgs/logo.png");
    background-position: center;
    background-size: contain;

  }

  .firstcharacter {
    color: $blue;
    float: left;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.5rem;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 3px;
  }

  h2 {
  
    font-size: 4rem;
    font-weight: 700;
    margin: 1% 0;

  }

  p {

    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 5%;

  }

  a {

    color: $red;

    &:hover {

      text-decoration: none;

    }

  }

  button {

    border: none;
    color: #fff;
    cursor: pointer;

    .fa {
      pointer-events: none;
    }

    &:focus {
      outline:0;
    }

  }

  strong {
    font-weight: 500;
  }

}

.instructions {

  display: block;
  height: 0;
  width: 0;

  .instructions-detail {

    @include border-radius(10px);
    background: rgba(0,0,0,0.75);
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1.2em;
    padding: 1rem;
    position: absolute;
    z-index: 2;

  }

  .playlist-instructions {

    bottom: 10rem;
    height: 10%;
    left: .5rem;
    width: 15rem;

  }

  .category-instructions {

    bottom: 19rem;
    height: 10%;
    right: 4rem;
    width: 18rem;

  }

  .scroll-instructions {

    bottom: 3rem;
    height: 6%;
    right: 1rem;
    width: 9rem;

  }

}

.background-holder {

  height: 75%;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;

  div {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    transition: opacity 2s ease;
    width: 100%;

    &.fade {

      opacity: 0;

    }

  }

  .virtual-keyboard-background-1 {
    z-index: 2;
  }

  .virtual-keyboard-background-2 {
    z-index: 1;      
  }

}

.left-column {

  background-color: #fff;
  border-right: 1px solid #ccc;
  box-shadow: 1px 0px 20px rgba(0,0,0,0.4);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 0 0.5% 0;
  position: fixed;
  top: 175px;
  width: 20%;

  .playlist-tiles {
    @include border-radius(2px);
    border: 1px solid $blue;
    -webkit-box-shadow:inset 1px 1px 4px 0px rgba(0,0,0,.4);
    box-shadow:inset 1px 1px 4px 0px rgba(0,0,0,.4);
    display: block;
    height: 64%;
    margin-bottom: 4%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 46px 0 0;
    position: relative;

    .playlist-title {

      @extend %standard-button-text;
      -webkit-box-shadow:inset 1px 1px 4px 0px rgba(0,0,0,.4);
      box-shadow:inset 1px 1px 4px 0px rgba(0,0,0,.4);
      background-color: $blue;
      left: 0;
      padding: 15px 0;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 2;

    }

    .playlist-tile {
      @extend %clearfix;
      border-bottom: .5px solid #666;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-top: 2px;
      width: 100%;

      .icon {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        height: 60px;
        margin-right: 10px;
        width: 60px;
      }

      .text {
        float: left;
        font-size: 1.5rem;
        line-height: 3rem;
        overflow: hidden;
        white-space: nowrap;
        width: 50%;
      }

      button {
        background: none;
        color: $red;
        margin-right: 8px;
        padding: 0;
        float: right;
        font-size: 1.5rem;
        line-height: 3rem;
      }

      &:nth-child(even) {
        background-color: #a7d8ff;
      }

    }

  }

  .playlist-buttons {

    display: flex;
    width: 100%;

    button {

      @extend %standard-button;
      margin: .25rem 0;
      padding: 3% 0;
      width: 45%;

      .inner-text {
        
        @extend %standard-button-text;

      }

      &:nth-child(1) {
        margin-right: 10%;
      }

      &.play {

        background-color: $green;

      }

      &.reset {

        background-color: #ff0000;

      }

    }

  }

}

.sound-palette {

  align-content: flex-start;
  background-color: $blue;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 175px 0 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;

  .sound-tile {

    background-color: white;
    border-radius: .5rem;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;
    display: inline-block;
    font-size: 1.25rem;
    margin: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    transition: all .07s ease;
    width: 20%;

    .sound-tile-category {

      background-color: #000;
      color: white;
      font-weight: 700;
      padding: 3% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;

    }

    .icon {

      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 100px;
      margin-top: 1%;
      width: 100%;

    }

    .file {

      text-align: center;
      width: 100%;

      &.small {
        
        font-size: 0.9rem;
        margin-top: 5px;

      }

    }


    .sound-tile-buttons {

      padding: 5px 0;
      width: 100%;

      button {

        @extend %standard-button;
        background: none;
        display: block;
        height: 25px;
        margin: 0 auto;
        position: relative;
        width: 90%;

        .inner-text {

          @extend %standard-button-text;
          cursor: pointer;
          font-size: .75rem;

        }

      }

      .sound-tile-random, .sound-tile-explore {

        background-color: $blue;

      }

      .sound-tile-random {

        margin-bottom: 5%;

      }

    }

  }

}

.playlist-and-sound-tile-explore {

  .sound-tile-explore {

    .top-bar-and-signup {

      .explore-info {
    
        display: flex;
        padding-bottom: 0;
        width: 73.5%;

        .icon {

          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          height: auto;
          width: 20%;

        }

        .text-and-inputs {

          display: flex;
          padding-top: 1.5%;
          width: 80%;

          .category-and-clips {

            margin-right: 3%;

            h4 {

              font-size: 1.7rem;
              line-height: 2rem;
              margin-bottom: 4%;

            }

            span {

              color: $red;
              font-weight: 700;
              text-transform: uppercase

            }

          }

          input {
          
            @include border-radius(10px);
            -webkit-appearance: none;
            border: 2px solid $blue;
            -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.25);
            box-shadow: 0 0 4px 1px rgba(0,0,0,.25);
            box-sizing: border-box;
            font-family: 'Oswald', sans-serif;
            font-size: 1.25rem;
            font-weight: 300;
            height: 59px;
            outline: none;
            padding: 1% 2% 1% 3%;
            width: 25%;

            &:focus {

              border-color: $green;

            }

          }

        }

      }

    }

    .explore-items {

      box-sizing: border-box;
      height: 100%;
      padding: 175px 0 0 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 80%;
      z-index: 1;

      .explore-item {

        box-sizing: border-box;
        display: inline-block;
        padding: 1% 1% 2% 2%;
        position: relative;
        width: 33.333%;

        &:nth-child(odd) {

          border: 1px solid rgba(0,0,0,.3);

        }

        &:nth-child(even) {

          background-color: $blue-light;
          border: 1px solid $blue;

        }

        .explore-buttons {

          display: flex;
          position: absolute;
          right: 10px;
          top: 10px;

          button {

            @include border-radius(50%);
            background: none;
            background-color: $green;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
            display: block;
            height: 30px;
            margin-left: 5px;
            width: 30px;

            &.explore-item-play {

              background-color: $blue;

            }

            &:hover {

              box-shadow: none;

            }

          }

        }

        .explore-item-name-and-button {

          @extend %clearfix;
          font-size: 2rem;
          margin-bottom: 6%;

          .explore-item-name {


          }

        }

        .explore-item-tags {

          display: flex;
          font-size: 1rem;
          overflow: hidden;

          .tag {

            color: #666;
            display: block;
            line-height: 2.3rem;
            margin-right: 5px;
            white-space: nowrap;
            
          }

        }

      }

    }

  }

}

@import 'responsive';