/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 10px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 10px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif; }

.virtual-keyboard {
  padding-top: 10%;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%; }
  .virtual-keyboard .virtual-keyboard-keybutton-row {
    display: block;
    text-align: center;
    width: 100%; }
    .virtual-keyboard .virtual-keyboard-keybutton-row .virtual-keyboard-keybutton {
      background: rgba(255, 255, 255, 0.4);
      border-radius: .5rem;
      border: 1px solid #0070c9;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      color: white;
      display: inline-block;
      font-size: 1.5rem;
      height: 4rem;
      margin: 5px;
      text-align: center;
      text-shadow: 0 0 .5rem black;
      transition: all .07s ease;
      width: 4rem; }
      .virtual-keyboard .virtual-keyboard-keybutton-row .virtual-keyboard-keybutton .inner-keybutton {
        height: 100%;
        padding-top: 1rem;
        position: relative; }
        .virtual-keyboard .virtual-keyboard-keybutton-row .virtual-keyboard-keybutton .inner-keybutton.has-file {
          background: red;
          font-size: 10px; }
          .virtual-keyboard .virtual-keyboard-keybutton-row .virtual-keyboard-keybutton .inner-keybutton.has-file .keybutton-background {
            left: 0;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%; }

.sound-queue {
  background-color: #fff;
  border-right: 1px solid #ccc;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 1% 20px 0;
  position: absolute;
  top: 0;
  width: 20%; }
  .sound-queue .title {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-image: url("../imgs/logo.jpg");
    height: 250px;
    width: 100%; }
  .sound-queue button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin: .25rem 0;
    padding: 10px 0;
    width: 100%; }
    .sound-queue button .inner-text {
      color: #fff;
      font-family: 'Oswald', sans-serif;
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-shadow: 0 1px 0 black;
      text-transform: uppercase; }
    .sound-queue button:hover {
      box-shadow: none; }
    .sound-queue button.play {
      background-color: #0d8b00; }
    .sound-queue button.reset {
      background-color: #ff0000; }

.sound-palette {
  background: #0070c9;
  box-sizing: border-box;
  bottom: 0;
  height: 20%;
  left: 0;
  overflow-x: scroll;
  padding: 10px;
  position: absolute;
  white-space: nowrap;
  width: 100%; }
  .sound-palette .sound-tile {
    background-color: white;
    border-radius: .5rem;
    box-sizing: border-box;
    border: .1rem solid black;
    color: black;
    display: inline-block;
    font-size: 1.5rem;
    height: 100%;
    margin-right: 1%;
    padding: 1.5rem .25rem 0;
    position: relative;
    text-align: center;
    transition: all .07s ease;
    width: 11rem; }
    .sound-palette .sound-tile .sound-tile-play, .sound-palette .sound-tile .sound-tile-refresh {
      position: absolute;
      top: 5px; }
    .sound-palette .sound-tile .sound-tile-play {
      left: 5px; }
    .sound-palette .sound-tile .sound-tile-refresh {
      right: 5px; }
    .sound-palette .sound-tile .icon {
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 100px;
      left: 50%;
      margin-left: -50px;
      position: absolute;
      top: 5px;
      width: 100px; }
    .sound-palette .sound-tile .file {
      bottom: 5px;
      font-size: 10px;
      position: absolute;
      text-align: center;
      width: 100%; }

/*# sourceMappingURL=App.css.map */
