@import 'reset';

@import 'variables';

@import 'mixins';

body {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Oswald', sans-serif;
}

.virtual-keyboard {

	padding-top: 10%;
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;

	.virtual-keyboard-keybutton-row {

		display: block;
		text-align: center;
		width: 100%;

		.virtual-keyboard-keybutton {

			background: rgba(255,255,255,0.4);
			border-radius: .5rem;
			border: 1px solid $blue;
			box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
			box-sizing: border-box;
			color: white;
			display: inline-block;
			font-size: 1.5rem;
			height: 4rem;
			margin: 5px;
			text-align: center;
			text-shadow: 0 0 .5rem black;
			transition: all .07s ease;
			width: 4rem;

			.inner-keybutton {

				height: 100%;
				padding-top: 1rem;
				position: relative;
			
				&.has-file {

					background: red;
					font-size: 10px;

					.keybutton-background {

						left: 0;
						height: 100%;
						position: absolute;
						top: 0;
						width: 100%;

					}

				}

			}

		}

	}

}

.sound-queue {

	background-color: #fff;
	border-right: 1px solid #ccc;
	box-shadow: 1px 0px 20px rgba(0,0,0,0.4);
	box-sizing: border-box;
	height: 100%;
	left: 0;
	padding: 1% 20px 0;
	position: absolute;
	top: 0;
	width: 20%;

	.title {

		@include hide-text;
		background-image: url("../imgs/logo.jpg");
		height: 250px;
		width: 100%;

	}

	button {
		@include border-radius(10px);
		border: none;
		box-shadow: 2px 3px 2px rgba(0,0,0,0.75);
		cursor: pointer;
		margin: .25rem 0;
		padding: 10px 0;
		width: 100%;

		.inner-text {
			color: #fff;
			font-family: 'Oswald', sans-serif;
			font-size: 1.5rem;
			letter-spacing: 2px;
			text-shadow: 0 1px 0 rgba(0,0,0,1);
			text-transform: uppercase;
		}

		&:hover {
			
			box-shadow: none;

		}

		&.play {

			background-color: #0d8b00;

		}

		&.reset {

			background-color: #ff0000;

		}

	}

}

.sound-palette {

	background: $blue;
	box-sizing: border-box;
	bottom: 0;
	height: 20%;
	left: 0;
	overflow-x: scroll;
	padding: 10px;
	position: absolute;
	white-space: nowrap;
	width: 100%;

	.sound-tile {

		background-color: white;
		border-radius: .5rem;
		box-sizing: border-box;
		border: .1rem solid black;
		color: black;
		display: inline-block;
		font-size: 1.5rem;
		height: 100%;
		margin-right: 1%;
		padding: 1.5rem .25rem 0;
		position: relative;
		text-align: center;
		transition: all .07s ease;
		width: 11rem;

		.sound-tile-play, .sound-tile-refresh {

			position: absolute;
			top: 5px;

		}

		.sound-tile-play {

			left: 5px;

		}

		.sound-tile-refresh {

			right: 5px;

		}

		.icon {
			background-repeat: no-repeat;
			background-size: cover;
			display: block;
			height: 100px;
			left: 50%;
			margin-left: -50px;
			position: absolute;
			top: 5px;
			width: 100px;
		}

		.file {
			bottom: 5px;
			font-size: 10px;
			position: absolute;
			text-align: center;
			width: 100%;
		}


	}

}