@import 'reset';

@import 'variables';

@import 'mixins';

.virtual-keyboard {

	.virtual-keyboard-keybutton-row {

		display: block;
		text-align: center;
		width: 100%;

		.virtual-keyboard-keybutton {

			background: rgba(0,0,0,0.4);
			border-radius: .5rem;
			border: .4rem solid black;
			box-sizing: border-box;
			color: white;
			display: inline-block;
			font-size: 1.5rem;
			height: 4rem;
			margin: 5px;
			text-align: center;
			text-shadow: 0 0 .5rem black;
			transition: all .07s ease;
			width: 4rem;

			.inner-keybutton {

				height: 100%;
				padding-top: 10px;
				position: relative;
			
				&.has-file {

					background: red;
					font-size: 10px;

					.keybutton-background {

						left: 0;
						height: 100%;
						position: absolute;
						top: 0;
						width: 100%;

					}

				}

			}

		}

	}

}

.sound-queue {

	background-color: #00fff6;
	box-sizing: border-box;
	height: 100%;
	left: 0;
	padding: 20px 20px 0;
	position: absolute;
	top: 0;
	width: 300px;

	.title {
		font-size: 1.5rem;

		span {
			display: block;
		}

	}

	button {
		cursor: pointer;
		padding: 10px 0;
		width: 100%;
	}

}

.sound-palette {

	background: red;
	box-sizing: border-box;
	bottom: 0;
	height: 15%;
	left: 0;
	padding: 10px;
	position: absolute;
	width: 100%;

	.sound-tile {

		background: rgba(0,0,0,0.4);
		border-radius: .5rem;
		box-sizing: border-box;
		border: .4rem solid black;
		color: white;
		display: inline-block;
		font-size: 1.5rem;
		height: 6rem;
		margin-right: 1%;
		overflow: hidden;
		padding: 1.5rem .25rem 0;
		position: relative;
		text-align: center;
		text-shadow: 0 0 .5rem black;
		transition: all .07s ease;
		width: 6rem;

		.sound-tile-play, .sound-tile-refresh {

			position: absolute;
			top: 5px;

		}

		.sound-tile-play {

			left: 5px;

		}

		.sound-tile-refresh {

			right: 5px;

		}

		.file {
			font-size: 10px;
		}


	}

}