/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 10px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 10px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body .intro-screen .inner-container button, .about-button, .back-button, .left-column .sound-queue-buttons button, .sound-palette .sound-tile .sound-tile-buttons button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  body .intro-screen .inner-container button:hover, .about-button:hover, .back-button:hover, .left-column .sound-queue-buttons button:hover, .sound-palette .sound-tile .sound-tile-buttons button:hover {
    box-shadow: none; }

body .intro-screen .inner-container button .inner-text, .about-button .inner-text, .back-button .inner-text, .left-column .sound-queue-tiles .sound-queue-title, .left-column .sound-queue-buttons button .inner-text, .sound-palette .sound-tile .sound-tile-buttons button .inner-text {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 1px 0 black;
  text-transform: uppercase;
  width: 100%; }

.left-column .sound-queue-tiles .sound-queue-tile:after, .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-item-name-and-button:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }
  body .intro-screen {
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    font-size: 2rem;
    height: 100%;
    left: 0;
    line-height: 2.5rem;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    top: 0;
    width: 100%;
    z-index: 5; }
    body .intro-screen .fa-times {
      cursor: pointer;
      position: absolute;
      right: 1%;
      top: 1%; }
    body .intro-screen .inner-container {
      padding-bottom: 0; }
      body .intro-screen .inner-container h2 {
        margin-bottom: 4%;
        margin-top: 6%; }
      body .intro-screen .inner-container img {
        display: block;
        height: 300px;
        margin: 0 auto 4%;
        width: 300px; }
      body .intro-screen .inner-container h3 span {
        color: #ff0033;
        font-size: 4rem;
        font-weight: 700; }
      body .intro-screen .inner-container button {
        margin-top: 5%;
        background-color: #0070c9;
        padding: 3% 5%; }
        body .intro-screen .inner-container button .inner-text {
          font-size: 3rem;
          line-height: 3rem; }
  body.about-screen {
    background: url("../imgs/logo-light.jpg") no-repeat center fixed #fff;
    background-size: 50%;
    padding-top: 5%; }
    body.about-screen .author-photo {
      float: right;
      margin-left: 5%;
      width: 125px; }
      body.about-screen .author-photo img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid black;
        display: block;
        height: 100px;
        margin: 0 auto;
        width: 100px; }
      body.about-screen .author-photo p {
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.1rem;
        text-align: center; }
        body.about-screen .author-photo p span {
          display: block; }
  body button {
    border: none;
    color: #fff;
    cursor: pointer; }
    body button .fa {
      pointer-events: none; }
    body button:focus {
      outline: 0; }
  body .inner-container {
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    max-width: 750px; }
  body .firstcharacter {
    color: #0070c9;
    float: left;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.5rem;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 3px; }
  body h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1%; }
  body p {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 5%; }
  body a {
    color: #ff0033; }
    body a:hover {
      text-decoration: none; }
  body strong {
    font-weight: 500; }

.instructions {
  display: block;
  height: 0;
  width: 0; }
  .instructions .instructions-detail {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: block;
    font-size: 2em;
    line-height: 1.4em;
    padding: 0.5% 1.5% 1.5%;
    position: absolute; }
    .instructions .instructions-detail:after {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-style: solid;
      border-left-style: solid;
      border-right-style: solid;
      border-top-style: solid;
      content: "";
      height: 0;
      position: absolute;
      width: 0; }
    .instructions .instructions-detail .instructions-hide {
      background: url("../imgs/instructions-hide.svg") no-repeat center center;
      background-size: contain;
      cursor: button;
      display: block;
      height: 30px;
      left: -10px;
      position: absolute;
      top: -10px;
      width: 30px; }
  .instructions .about-instructions {
    height: 6%;
    right: 9.5%;
    top: 1.9%;
    width: 8%; }
    .instructions .about-instructions:after {
      border-bottom-width: 13px;
      border-left-color: rgba(0, 0, 0, 0.75);
      border-left-width: 26px;
      border-top-width: 13px;
      right: -29px;
      top: 30%; }
  .instructions .sound-queue-instructions {
    bottom: 9.25%;
    height: 10%;
    left: 1%;
    width: 15%; }
    .instructions .sound-queue-instructions:after {
      border-top-color: rgba(0, 0, 0, 0.75);
      border-top-width: 26px;
      border-left-width: 13px;
      border-right-width: 13px;
      bottom: -29px;
      left: 10%; }
  .instructions .category-instructions {
    bottom: 29%;
    height: 10%;
    left: 34%;
    width: 18%; }
    .instructions .category-instructions:after {
      border-top-color: rgba(0, 0, 0, 0.75);
      border-top-width: 26px;
      border-left-width: 13px;
      border-right-width: 13px;
      bottom: -29px;
      left: 10%; }
  .instructions .scroll-instructions {
    bottom: 10%;
    height: 6%;
    right: 2%;
    width: 10%; }
    .instructions .scroll-instructions:after {
      border-bottom-width: 13px;
      border-left-color: rgba(0, 0, 0, 0.75);
      border-left-width: 26px;
      border-top-width: 13px;
      right: -29px;
      top: 30%; }

.about-button, .back-button {
  background-color: #0070c9;
  padding: 0.5% 1%;
  position: fixed;
  right: .75%;
  top: 3%;
  z-index: 4; }

.background-holder {
  height: 75%;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%; }
  .background-holder div {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    transition: opacity 2s ease;
    width: 100%; }
    .background-holder div.fade {
      opacity: 0; }
  .background-holder .virtual-keyboard-background-1 {
    z-index: 2; }
  .background-holder .virtual-keyboard-background-2 {
    z-index: 1; }

.left-column {
  background-color: #fff;
  border-right: 1px solid #ccc;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 0 0.5% 0;
  position: fixed;
  top: 0;
  width: 20%; }
  .left-column .title {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-image: url("../imgs/logo.jpg");
    background-position: center;
    background-size: contain;
    height: 35%;
    width: 100%; }
  .left-column .sound-queue-tiles {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #0070c9;
    -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
    display: block;
    height: 53%;
    margin-bottom: 4%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 31px 0 0 0;
    position: relative; }
    .left-column .sound-queue-tiles .sound-queue-title {
      -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
      box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
      background-color: #0070c9;
      left: 0;
      padding: 8px 0;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 2; }
    .left-column .sound-queue-tiles .sound-queue-tile {
      border-bottom: .5px solid #666;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-top: 2px;
      width: 100%; }
      .left-column .sound-queue-tiles .sound-queue-tile .icon {
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        height: 60px;
        margin-right: 10px;
        width: 60px; }
      .left-column .sound-queue-tiles .sound-queue-tile .text {
        float: left;
        font-size: 1.5rem;
        line-height: 3rem; }
      .left-column .sound-queue-tiles .sound-queue-tile button {
        background: none;
        color: #ff0033;
        margin-right: 8px;
        padding: 0;
        float: right;
        font-size: 1.5rem;
        line-height: 3rem; }
      .left-column .sound-queue-tiles .sound-queue-tile:nth-child(even) {
        background-color: #a7d8ff; }
  .left-column .sound-queue-buttons {
    display: flex;
    width: 100%; }
    .left-column .sound-queue-buttons button {
      margin: .25rem 0;
      padding: 3% 0;
      width: 45%; }
      .left-column .sound-queue-buttons button:nth-child(1) {
        margin-right: 10%; }
      .left-column .sound-queue-buttons button.play {
        background-color: #0d8b00; }
      .left-column .sound-queue-buttons button.reset {
        background-color: #ff0000; }

.sound-palette {
  background: #0070c9;
  box-sizing: border-box;
  bottom: 0;
  height: 28%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.75%;
  position: absolute;
  right: 0%;
  white-space: nowrap;
  width: 80%; }
  .sound-palette .sound-tile {
    background-color: white;
    border-radius: .5rem;
    box-sizing: border-box;
    border: 2px solid black;
    color: black;
    display: inline-block;
    font-size: 1.25rem;
    height: 100%;
    margin-right: 1%;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all .07s ease;
    width: 13%; }
    .sound-palette .sound-tile .sound-tile-category {
      background-color: #000;
      color: white;
      font-weight: 700;
      padding: 3% 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%; }
    .sound-palette .sound-tile .icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 100px;
      margin-top: 1%;
      width: 100%; }
    .sound-palette .sound-tile .file {
      text-align: center;
      width: 100%; }
      .sound-palette .sound-tile .file.small {
        font-size: 0.9rem;
        margin-top: 5px; }
    .sound-palette .sound-tile .sound-tile-buttons {
      padding: 5px 0;
      width: 100%; }
      .sound-palette .sound-tile .sound-tile-buttons button {
        background: none;
        display: block;
        height: 25px;
        margin: 0 auto;
        position: relative;
        width: 90%; }
        .sound-palette .sound-tile .sound-tile-buttons button .inner-text {
          cursor: pointer;
          font-size: .75rem; }
      .sound-palette .sound-tile .sound-tile-buttons .sound-tile-random, .sound-palette .sound-tile .sound-tile-buttons .sound-tile-explore {
        background-color: #0070c9; }
      .sound-palette .sound-tile .sound-tile-buttons .sound-tile-random {
        margin-bottom: 5%; }

.sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar {
  background-color: white;
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 1.5% 1% .75%;
  position: fixed;
  right: 0;
  width: 80%;
  top: 0;
  z-index: 2; }
  .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info {
    display: flex; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info .category-and-clips {
      margin-right: 3%; }
      .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info .category-and-clips h4 {
        font-size: 2rem;
        margin-bottom: 4%; }
      .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info .category-and-clips span {
        color: #ff0033;
        font-weight: 700;
        text-transform: uppercase; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info .icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 100px;
      width: 10%; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info input {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      -webkit-appearance: none;
      border: 2px solid #0070c9;
      -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
      font-family: 'Oswald', sans-serif;
      font-size: 1.25rem;
      font-weight: 300;
      height: 50%;
      outline: none;
      padding: 1% 2% 1% 1%; }
      .sound-queue-and-sound-tile-explore .sound-tile-explore .top-bar .explore-info input:focus {
        border-color: #0d8b00; }
.sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items {
  box-sizing: border-box;
  height: 100%;
  padding: 9.2% 0 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  z-index: 1; }
  .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item {
    box-sizing: border-box;
    display: inline-block;
    padding: 1% 1% 2% 2%;
    position: relative;
    width: 33.333%; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item:nth-child(odd) {
      border: 1px solid rgba(0, 0, 0, 0.3); }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item:nth-child(even) {
      background-color: #e5f0f0;
      border: 1px solid #0070c9; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-buttons {
      display: flex;
      position: absolute;
      right: 10px;
      top: 10px; }
      .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-buttons button {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        background: none;
        background-color: #0d8b00;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        display: block;
        height: 30px;
        margin-left: 5px;
        width: 30px; }
        .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-buttons button.explore-item-play {
          background-color: #0070c9; }
        .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-buttons button:hover {
          box-shadow: none; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-item-name-and-button {
      font-size: 2rem;
      margin-bottom: 6%; }
    .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-item-tags {
      display: flex;
      font-size: 1rem; }
      .sound-queue-and-sound-tile-explore .sound-tile-explore .explore-items .explore-item .explore-item-tags .tag {
        color: #666;
        display: block;
        margin-right: 5px;
        line-height: 2.3rem; }

/*# sourceMappingURL=App.css.map */
